* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #EDEFF5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .calculator {
    max-width: 350px;
    height: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: relative;
  }
  .prev {
    position: absolute;
    top: 60px;
    font-size: 30px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="text"] {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    text-align: right;
    background-color: #ACB5D1;
    color: #fff;
  }
  textarea:focus, input:focus{
    outline: none;
  }
  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
  }
  
  .highlight {
    background-color: #ACB5D1;
    color: #fff;
    font-weight: 500;
    width: 100%;
    padding: 15px;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #clear {
    background-color: #f44336;
    color: #fff;
  }
  
  .zero-btn {
    grid-column: span 2;
  }
  
  .equal-btn {
    grid-row: span 2;
    background-color: coral;
  }
  
  /* Model Popup */
  .modal{
    position: absolute;
    left: -180px;
    z-index: 9999;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    width: 179px;
    height: auto;
    border-radius: 5px;
    padding: 10px;
  }
  .modal .close {
    position: relative;
    left: 70px;
    font-size: 22px;
    cursor: pointer;
    bottom: 5px;
  }